[submodule "third_party/wlr-protocols"]
	path = third_party/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "third_party/libei"]
	path = third_party/libei
	url = https://gitlab.freedesktop.org/libinput/libei.git
